img{
width:180px;
margin:10px;
transition:0.3s;
border-radius:10px;
}

.zoom:hover{
transform:scale(1.4);
}

.rotate:hover{
transform:rotate(25deg);
}

.shadow:hover{
box-shadow:0px 0px 20px blue, 0px 0px 40px blue;
}

.bright:hover{
filter:brightness(200%);
}

.neon:hover{
box-shadow:0px 0px 20px cyan, 0px 0px 40px cyan;
}

.zoomglow:hover{
transform:scale(1.2);
box-shadow:0px 0px 25px purple;
}

.lift:hover{
transform:translateY(-40px);
box-shadow:0px 10px 20px rgba(123, 109, 224, 0.5);
}

.border:hover{
border:10px solid rgb(156, 166, 156);
}